

* {
    border: 1px solid red;
}


html {
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #42B7FF;
    display: flex;
    color: #FFD336;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    padding: 1%;
    font-size: 40px;
    font-family: 'Palette Mosaic', cursive;
}

.main {
    background-color: rgb(236, 236, 236);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.container-instructions {
    padding: 3%;
    text-align: center;
    font-size: 25px;
}

.instructions.weapon-win {
    margin-bottom: 10px;
}

.current-weapon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.score {
    align-self: flex-end;
    font-size: 55px;
}

.player {
    text-align: center;
    margin-bottom: 10px;
}

.current-weapon {
    font-size: 55px;
    font-weight: bold;
}

.rock-paper-scissors {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn-rpc {
    font-size: 100px;
    border: none;
    background-color: rgb(236, 236, 236);
    transition: .2s ease-in-out 0s;
}

.btn-rpc:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.footer {
    background-color: #3783B3;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 5px 0px;
    gap: 10px;
}

.copyright {
    font-family: 'Palette Mosaic', cursive;
}

.github-icon{
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;

}

.github-icon:hover{
    transform:rotate(120deg);
    -ms-transform:rotate(120deg);
    -webkit-transform:rotate(120deg);
}

.github-container {

    display: flex;
    align-items: center;
    justify-content: center;
}