
html {
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #42B7FF;
    display: flex;
    color: #FFD336;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    padding: 1%;
    font-size: 40px;
    font-family: 'Palette Mosaic', cursive;
}

.main {
    background-color: rgb(236, 236, 236);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.container-instructions {
    padding: 3%;
    text-align: center;
    font-size: 25px;
}

.instructions.weapon-win {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
}

.instructions.beats {
    font-size: 24px;
    font-weight: 600;
}

.current-weapon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.score {
    align-self: flex-end;
    font-size: 55px;
}

.player {
    text-align: center;
    margin-bottom: 10px;
}

.current-weapon {
    font-size: 55px;
    font-weight: bold;
}

.rock-paper-scissors {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn-rpc {
    font-size: 100px;
    border: none;
    background-color: rgb(236, 236, 236);
    transition: .2s ease-in-out 0s;
}

.btn-rpc:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.footer {
    background-color: rgb(236, 236, 236);
    display: flex;
    color: rgb(48, 48, 48);
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 5px 0px;
    gap: 30px;
}

.copyright {
    font-family: 'Palette Mosaic', cursive;
}

.github-icon{
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;

}

.github-icon:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.github-container {

    display: flex;
    align-items: center;
    justify-content: center;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 35px;
    width: 50%;
    background-size: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.menu,
.playAgain,
.start-game {
    height: 55px;
    width: 135px;
    border: none;
    background-color: #42B7FF;
    border-radius: 10px;
    color: #fefefe;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #3783B3;
    transition: .2s ease-in-out 0s;
  }

.menu:hover,
.playAgain:hover,
.start-game:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.winner {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #42B7FF;
    text-shadow: 2px 2px 2px #255979;
}



/******************************* INDEX.HTML ************************************/



.index-container {
    background-size: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    gap: 20px;
    background-image: url(./images/skin_color_yellow.png);
}

.index-ui-container {
    background-color: #fefefe;
    border-radius: 20px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
    gap: 30px;
}

.index-heading {
    display: flex;
    flex-direction: column;
    color: #42B7FF;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'Palette Mosaic', cursive;
    text-shadow: 2px 2px 3px #0a2d42;
}


#skin-picker,
.start-game {
    align-items: center;
    width: 170px;
    height: 60px;
    font-size: 35px;
    text-align: center;
    background-color: #b1dffb;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px #0a2d42;
}

.option {
    text-align: center;
}

.start-game {
    color: #1e4761;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}